<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
   		<title>My Tiny Url</title>

   		 <link rel="icon" type="image/png" href="img/icon.png"/>
   		 <script src="http://www.google.com/jsapi"></script>
	<script src="/js/chartkick.js"></script>

   		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="css/bootstrap.css" rel="stylesheet">
		<link href="/css/style3.css" rel="stylesheet">

	    <!-- Custom styles for this template -->
	    <link href="/css/jumbotron.css" rel="stylesheet">
	</head>

	<body>

    	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle collapsed" data-target=".navbar-collapse" data-toggle="collapse" type="button">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">My Tiny Url</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="/">Acortador</a>
						</li>
						<li>
							<a href="/estadisticas">Estadisticas</a>
						</li>
						
					</ul>
				</div>
			</div>
		</div>

		<div class="container">
    		<div class="row">	
    			<div class="header col-xs-12 col-sm-12 col-lg-12" id ="cabecera">
    				<div class =" tit col-xs-12 col-sm-12 col-lg-12">
    					<div class="titulo col-xs-12 col-sm-8 col-lg-8">
	    					<h1>
	    					 MyTinyUrl
	    					</h1>
    					</div>
    				
    				
	    				<% if !current_user %>
				          <div class="iconos col-xs-12 col-sm-4 col-lg-4">
				            <a href="/sign_facebook">
				              <img height="35px" src="/img/FB.png" width="35px"/>
				            </a>
				            <a href="/sign_github">
				              <img height="35px" src="/img/GH.png" width="35px"/>
				            </a>
				            <a href="/sign_google">
				              <img height="30px" src="/img/G.png" width="30px"/>
				            </a>
				          </div>
				        <% else %>
				          <div class="user col-xs-12 col-sm-4 col-lg-4">
				            <img class="img-responsive img-circle foto" src="<%= current_user.imagen %>"/>
				            <br/>
				            <p class="col-xs-12 col-sm-12 col-lg-12">
				              Hola, <%= current_user.name %> -
				              <a href="/sign_out">Cerrar Sesión</a>
				            </p>
				          </div>
				        <% end %>
      				</div>
    			</div>	

    			<div class = "main col-xs-12 col-sm-8 col-lg-8 col-sm-offset-2 col-lg-offset-2">
    				<h3><span class="glyphicon glyphicon-send"></span></h3>
					<h3>Introduzca una tiny URL</h3>
					<form action="/estadisticas" method="post" class="form-inline" role="form">
						<div class="input-group col-lg-offset-2 col-sm-offset-2 col-sm-8 col-xs-12 col-lg-8" id="input">
							<span class="input-group-addon ">URL</span>
							<input type="text" name="estadistica" id="estadistica" autofocus accesskey="s" class="form-control" placeholder="http://www.my-tiny-url.herokuapp.com/url">
						</div>
						<br>
						<button type="submit" value="estadisticas" class="btn btn-default col-lg-offset-5 col-sm-offset-5 col-sm-2 col-xs-12 col-lg-2">
							Estadisticas
						</button>
					</form>
					<% if @mostrar == true %>
						<div class="estadisticas col-xs-12 col-sm-12 col-lg-12">
							<p id="orig"> <strong> Url original: </strong> <% if @url != nil %>
								<a href="<%= @url.url %>" > <%= @url.url %> </a>
								<%end%>
							</p>
							<p id="numvis" > <strong> Numero de visitas: </strong> <%= @num %></p>

							<div class="pais col-xs-12 col-sm-12 col-lg-12">
								<%= pie_chart(@pais) %>
							</div>

							<div class="dia col-xs-12 col-sm-12col-lg-12">
								<%= pie_chart(@dia) %>
							</div>

						</div>	
					<%end%>



    			</div>
    							
			</div> <!-- fin row-->
		</div><!--fin container-->

		<div id="footer">
			<div class="container">
				<p class="text-muted">
					<a href="https://alu0100700435.github.io/" target="_blank">alu0100700435</a> | Copyright 2011-2014. All rights reserved.
				</p>
			</div>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    	<script src="/js/bootstrap.min.js"></script>
	</body>
</html>